/*
-----------------------------------------
Tertiary Button
-----------------------------------------
*/
.btn{
    &--tertiary{
        display: inline-flex;
        background-color:transparent;
        padding: rem(14px) rem(30px);
        border: rem(1px) solid $color-line--faded;
        font-size: rem(10px);
        font-weight: 700;
        border-radius: rem(40px);
        transition: all 0.2s ease-in-out;
        align-items: center;
        text-transform: uppercase;
        color: $white;
        white-space: nowrap;

        i{
            margin-right: rem(10px);
            font-size: rem(14px);
        }

        @include hover-focus-active{
            background-color: $color-background-beta;
            color: $color-text-alpha;
            border-color: $color-beta;
        }

        &-light{
            color: $color-text-alpha;
        }

        &-beta{
            background-color: $color-background-beta;
            color: $white;
            border: none;
            @include hover-focus-active{
                color: $white;
            }
        }

        &-etha{
            
            background-color: $color-alpha;
            @include hover-focus-active{
                background-color: $color-etha;
                color: $white;
                border-color: $color-etha;
            }

            &[disabled="false"]{
                background-color: rgba($color-alpha, 0.5);
            }
        }
    }
}

/*
-----------------------------------------
Badge Button
-----------------------------------------
*/

.btn{
    &-badge{
        display: inline-block;
        width: rem(40px);
        height: rem(40px);
        line-height: rem(40px);
        background-color: $color-background-beta;
        border: rem(1px) solid $color-alpha;
        border-radius: 50%;
        color: $color-alpha;
        text-align: center;
        font-size: rem(16px);
        transition: all 0.2s ease-in-out;

        @include hover-focus-active{
            background-color: $white;
            border-color: $white;
        }

        &--primary{
            border: none;
            background-color: $white;
            position: relative;
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &:hover{
                background-color: $color-background-beta;
            }
            &:active,
            &:focus{
                background-color: $white;
            }
        }

        &--beta{
            color: $color-text-beta;
            border-color: $color-beta;
            background-color: transparent;
            @include hover-focus-active{
                color: $color-text-alpha;
                background-color: $color-background-beta;
            }
        }

        &--download{
            background-color: $color-background-beta;
            color: $color-text-alpha;
            border: none;
            position: relative;
            i{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.2s ease-in-out;
            }
            &:hover{
                background-color: $color-background-beta;
                i {
                    transform: translateX(-50%) translateY(-50%) translateY(#{rem(10px)});
                }
            }
            &:active,
            &:focus{
                background-color: $color-background-alpha;
                color: $white;
                i {
                    transform: translate(-50%, -50%);
                }
            }
        }

        &--etha{
            @extend .btn-badge--download ;
            background-color: $color-etha;
            color: $white;
            @include hover-focus-active(){
                background-color: $color-etha;
                color:$white;
            }

            &-light{
                background-color: $white;
                color: $color-etha;
                @include hover-focus-active(){
                    background-color: $color-etha;
                    color:$white;
                }
            }
        }

        &--light{
            border: rem(1px) solid $color-gamma;
            background-color: transparent;
            @include hover-focus-active{
                background-color: $color-background-beta;
                border-color: transparent;
            }
        }

        &--small{
            width: rem(30px);
            height: rem(30px);
            line-height: rem(30px);
            background-color: transparent;
            border-color: $white;
            color: $white;
            font-size: rem(13px);

            &-dark{
                color: $color-text-alpha;
                border-color: $color-alpha;
            }
            @include hover-focus-active{
                background-color:  $color-background-beta;
                color: $color-text-alpha;
                border-color: $color-beta;
            }

            &-etha{
                color: $color-gamma;
                border-color: $color-gamma;
                @include hover-focus-active{
                    background-color:$color-etha;
                    color: $white;
                    border-color: $color-etha;
                }
            }

        }

        &.no-border{
            border: none !important;
        }
    }
}

