/*
-----------------------------------------
Input
-----------------------------------------
*/

// Search Box + Newsletter Input
input,
textarea{
    &.form-control{
        background-color: transparent;
        background-image: none !important;
        font-size: rem(15px);
        line-height: rem(16px);
        color: $white;
        padding: rem(10px) 0;
        margin-top: 0;
        border: none;
        border-bottom: rem(1px) solid $white;
        border-radius: 0;
        box-shadow: none !important;
        resize: none;

        @include focus(){
            outline: none;
            border-bottom: rem(1px) solid $color-alpha;
            color: inherit;
            background-color: transparent;
        }

        @include placeholder(){
            color: $white;
            font-size: inherit;
            line-height: inherit;
        }

        @include respond-below(md){
            font-size: rem(12px);
        }

        &--dark{
            border-bottom: rem(1px) solid $color-alpha;
            color: $color-alpha;
            @include placeholder(){
                color: $color-alpha;
                font-size: inherit;
                line-height: inherit;
            }
        }

    }
}

