/*
-----------------------------------------
Input
-----------------------------------------
*/

// Webform
input,
textarea,
button{
    &.form__control{
        width: 100%;
        background-color: $white !important;
        background-image: none !important;
        font-size: inherit;
        color: $color-text-alpha !important;
        font-weight: 400 !important;
        padding: rem(15px) rem(30px);
        margin-top: 0;
        border: none ;
        border-radius: 0;
        box-shadow: none !important;
        resize: none;
        margin-bottom: rem(40px);

        @include placeholder(){
            color: $color-text-alpha;
        }

        &--disabled{
            background-color: $color-background-alpha !important;
            padding: rem(20px) rem(30px);
            border: rem(2px) solid $color-line--faded;
            color: $white !important;
        }
    
    }
}

// Focus effect
.form-group{
    margin-bottom: 0;
    position: relative;
    $self: &;
    &__line{
        display: block;
        width: 100%;
        height: 5px;
        position: absolute;
        bottom: rem(40px);
        left: 0;
        background-color: $color-background-beta;
        transform-origin: left 50%;
        transform: scaleX(0);
        transition: all 277ms cubic-bezier(0.16, 0.01, 0.77, 1);

        &--textarea{
            bottom: rem(46px);
        }
    }
    input,
    textarea{
        &.form__control{
            @include focus(){
               & ~ #{$self}__line{
                   transform: scaleX(1);
                }   
            }
        }
    }
    


}

// Search Box + Newsletter Input
input,
textarea{
    &.form-control{
        background-color: transparent;
        background-image: none !important;
        font-size: rem(15px);
        line-height: rem(16px);
        color: $color-text-alpha;
        padding: rem(10px) 0;
        margin-top: 0;
        border: none;
        border-bottom: rem(1px) solid $color-alpha;
        border-radius: 0;
        box-shadow: none !important;
        resize: none;

        @include focus(){
            outline: none;
            border-bottom: rem(1px) solid $color-alpha;
            color: inherit;
            background-color: transparent;
        }

        @include placeholder(){
            color: $color-text-alpha;
            font-size: inherit;
            line-height: inherit;
        }

        @include respond-below(md){
            font-size: rem(12px);
        }

        &--big{
            padding: rem(10px) rem(20px);
            font-size: rem(21px);
            @include placeholder(){
                color: $color-text-alpha;
                font-size: inherit;
                line-height: inherit;
            }

            @include respond-below(md){ 
                font-size: rem(15px);
            }
        }

        &--rounded{
            border-radius: rem(40px);
            background-color: $white;
            border: none;
            padding: rem(20px);
            color: $color-alpha;
            @include placeholder(){
                color: $color-text-gamma;
                font-size: rem(14px);
                line-height: rem(16px);
                font-style: italic;
            }

            @include focus(){
                background-color:$white;
                outline: none;
                border-bottom: none;
                color: $color-alpha;
            }

            &-light{
                background-color: transparent;
                border: rem(1px) solid rgba($white, 0.2);
                color: $white;
                padding: rem(21px);
                @include placeholder(){
                    color: rgba($white, 0.5);
                }

                @include focus(){
                    background-color: transparent;
                    border: rem(1px) solid rgba($white, 0.5);
                    color: $white;
                }


            }
        }

    }
}

/*
-----------------------------------------
Iocn
-----------------------------------------
*/
.form-control{
    &__icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: rem(35px);
        color: rgba($color-line, 0.8);
    }
}

/*
-----------------------------------------
label
-----------------------------------------
*/
.form-group,
.input-file{
    label{
        text-transform: uppercase;
        display: inherit;
        font-weight: 700;
        color: $white;
        font-family: $font-family-secondary;
        font-size: rem(13px);
        line-height: rem(24px);
        margin-bottom: rem(15px);
        padding-left: rem(30px);
    }
}


/*
-----------------------------------------
Checkbox / Radiobox
-----------------------------------------
*/

// Common
.checkbox,
.radiobox{
    @include not-last-child{
        margin-bottom: rem(10px);
    }
    input[type=checkbox],
    input[type=radio]{
        display: none;
        & ~ label{
            position: relative;
            padding-left: rem(40px);
            margin-bottom: 0;
            font-weight: 400;
            text-transform: none;
            font-family: $font-family-primary;
            display: inline-block;
            cursor: pointer;
            &:before,
            &:after{
                content: '';
                position: absolute;
                display: block;
                transition: all 0.2s ease-in-out;
            }
            &:before{
                top: 0;
                left: 0;
                background-color: $color-background-alpha;
                width: rem(20px);
                height: rem(20px);
                border: rem(1px) solid $white;
            }
            &:after{
                opacity: 0;
                visibility: hidden;
            }
        }
        &:checked ~ label{
            &:after{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

// Radio
.radiobox{
    input[type=radio]{
        & ~ label{
            &:before{
                border-radius: 100%;
            }
        }
        &:checked ~ label{
            &:after{
                content: '';
                top: rem(5px);
                left: rem(5px);
                display: block;
                background-color: $color-beta;
                width: rem(10px);
                height: rem(10px);
                border-radius: 100%;
            }
        }
    }
}

// Checkbox
.checkbox{
    input[type=checkbox]{
        &:checked ~ label{
            &:before{
                background-color: $color-beta;
            }
            &:after{
                // @include get-icon($ico-check);
                top: rem(2px);
                left: rem(3px);
                color: $color-alpha;
                font-size: rem(15px);
            }
        }
    }
}


/*
-----------------------------------------
DatePicker
-----------------------------------------
*/

input{
    &.filter-control{
        @extend .btn--tertiary;

        @include placeholder(){
            color: $white;
        }
    }
}

/*
-----------------------------------------
Input File
-----------------------------------------
*/
.input-file{
    &-wrapper{
        padding-top: rem(20px);
    }
    height: rem(70px);
    padding: rem(20px) 0;
    border: rem(1px) solid $color-line--faded;
    border-radius: 0;
    color: $color-alpha;
    position: relative;
    margin-bottom: rem(40px);

        
    &__trigger{
        position: absolute;
        top: 50%;
        right: rem(20px);
        transform: translateY(-50%);
    }

    label{
        width: rem(40px);
        height: rem(40px);
        position: absolute;
        top: rem(-30px);
        left: 0;
    }

    input[type^="file"]{
        width: 100%;
        height: 100%; 
        opacity: 0;
        position: absolute ;
        top: 0;
        left: 0;
        font-size: rem(13px);
        color: $color-alpha;
        cursor: pointer;
    }

    input[type^="text"]
    {
        width: 100%;
        height: 100%; 
        position: absolute ;
        top: 0;
        left: 0;
        border: none;
        background-color: transparent;
        padding: 0 rem(20px);
        color: $white;
    }
}


/*
-----------------------------------------
Input Text Icon
-----------------------------------------
*/

.input-text-icon{
    position: relative;
    background-color: $white;
    @include not-last-child{
        margin-bottom: rem(40px);
    }
    .form__control{
        background-color: transparent !important;
        padding-right: rem(60px);
        margin-bottom: 0 !important;
    }
    [class^="ico-"],
    [class*=" ico-"]{
        position: absolute;
        top: 50%;
        right: rem(25px);
        font-size: rem(22px);
        color: $color-text-alpha;
        pointer-events: none;
        transform: translate(0, -50%);
    }

    &--etha{
        background-color: $color-etha;
        border-radius: rem(40px);

        [class^="ico-"],
        [class*=" ico-"]{
            color: rgba($white, 0.8);
            font-size: rem(18px);
        }
    }
}


/*
-----------------------------------------
Admin Login Page
-----------------------------------------
*/
.user-login-form, #user-login-form, .user-pass{
    
    input[type=submit]{
        @extend .btn--primary;
        @extend .btn--primary-dark;

        @include hover-focus-active{
            background-color: $color-etha;
            color: $white;
        }
    }

    

    .form-group{
        margin-bottom: rem(40px);
        label{
            color: $color-alpha
        }

        input[type=text],input[type=password]{
            @extend .form__control;
            background-color: $color-delta !important;
            margin-bottom: 0 !important;

            @include focus(){
                background-color: $color-delta!important;
            }
        }
    }

    .checkbox{
        padding: 0 !important;
        margin-bottom: rem(40px);

        input[type=checkbox] ~ label{
            &:before{
                background-color: $white;
                border-color: $color-line;
            }
        }
    }
}