// Line Dash
.line-dash{
    position: relative;
    padding-bottom: rem(10px);

    &:before,
    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &:before{
        width: rem(25px);
        border-bottom: rem(7px) solid $color-beta;
    }

    &:after{
        width: 100%;
        border-bottom: rem(1px) solid $color-line--faded;
    }
}


// Dash Color
@each $alias, $color in $theme-colors {
	.line-dash--#{$alias}{
		&:before{
			border-color: $color !important;
		}
    }

    .dash--#{$alias}{
		&:before{
			border-color: $color !important;
		}
    }
}
